*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    
}
.wrap .generationBlock{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */

}
.wrap .generationBlock .yourExcuse{
    font-size: 28px;
    margin-right: 100px;
}

.wrap .generationBlock .excuseBox{
    width: 40%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.wrap .generationBlock .excuseBox .excuseArea{
    width: 70%;
    height: 80%;
    background-color: gray;
    border-radius: 20px;
    padding: 10px; 
}
.wrap .generationBlock .excuseBox .excuseArea .avtor{
    position: relative;
    top: 80px;
    left: 300px;
}
.wrap .generationBlock .excuseBox .excuseRate{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px; 
}
.wrap .generationBlock .excuseBox .excuseRate img{
    width: 50px;
}
.wrap .generationBlock .btns {
    width: 35%;
    height: 20%;
    
}
.wrap .generationBlock .btns button{
    width: 40%;
    height: 40%;
    background-color: aqua;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    
}
.wrap .excuseHistory{
    width: 100%;
    font-size: 28px;

}
.wrap .excuseHistory .historicExcuse{
    width: 80%;
    background-color: #fff;
    color: #000;
    font-size: 22px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: 10px 120px;
    padding-left: 15px;
}

.wrap .excuseHistory .historicExcuse .historicMes{
width: 50%;
}
.wrap .excuseHistory .historicExcuse .historicAvtor{
    width: 50%;
}